<!DOCTYPE html>
<html>
<head>
  <title>RetroActive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
  <script type="text/javascript">
	 onSignIn = function(googleUser) {
		profile = googleUser.getBasicProfile();
		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		console.log('Name: ' + profile.getName());
		console.log('Image URL: ' + profile.getImageUrl());
		console.log('Email: ' + profile.getEmail());
		var user_data = {};
		user_data.name = profile.getName();
		user_data.email = profile.getEmail();
		user_name = user_data.name;
		user_email = user_data.email;
		sessionStorage.setItem("user_name", user_name);
		sessionStorage.setItem("user_email", user_email);
		sessionStorage.getItem("user_name")
		sessionStorage.getItem("user_email")
		window.location.href = "/dashboard";
	}

	//  window.onloadGoogle = function(){
	//  	gapi.load('auth2', function() {
	// 	 	gapi.auth2.init();
	// 	    auth2 = gapi.auth2.getAuthInstance();
	//  		setTimeout(window.checkLogin, 5000);
	//      });
	// }

	// window.checkLogin = function(){
	// 	gapi.auth2.init();
	// 	auth2 = gapi.auth2.getAuthInstance();
	// 	if (auth2.isSignedIn.get()) {
	// 		var profile = auth2.currentUser.get().getBasicProfile();
	// 		console.log('ID: ' + profile.getId());
	// 		console.log('Full Name: ' + profile.getName());
	// 		console.log('Given Name: ' + profile.getGivenName());
	// 		console.log('Family Name: ' + profile.getFamilyName());
	// 		console.log('Image URL: ' + profile.getImageUrl());
	// 		console.log('Email: ' + profile.getEmail());
	// 		window.location = '#/dashboard';
	// 	}
	// 	else{
	// 		console.log("user not signed in");
	// 	}
	// }
	

		
</script>
  <script src="https://apis.google.com/js/platform.js?" async defer></script>
  <%= csrf_meta_tags %>
  <meta name="google-signin-client_id" content="569976604919-g796ovfj23d40fpi1jjerpn2vvp88mso.apps.googleusercontent.com">
  
</head>
<body>

<%= yield %>

<div id="app"></div>
<script type="text/javascript">db_entry = <%= raw(@json_object) %> </script>

<%= javascript_include_tag 'bundle', 'data-turbolinks-track' => true %>


</body>
</html>
